

.tasks{
    font-family: objektiv-mk1, sans-serif;

    &--title{
        font-weight: 700;

    }

    &--day{
        font-weight: 800;

    }

    &--month{
        font-weight: 400;
        @apply
            uppercase
            text-sm;
    }

    &--description{
        font-weight: 300;
        width: 20rem;
    }

    &--department{
        font-family: rift-soft, sans-serif;
        font-weight: 500;

        @apply
         tracking-wide
         ;

         &--bg{
            background-color:rgba(255, 255, 255, 0.2);
         }
    }

    &--bg{
        background: rgb(217,85,109);
        background: linear-gradient(133deg, rgba(217,85,109,1) 0%, rgba(217,85,132,1) 94%);
    }

    &--transparent-bg{
        background-color:rgba(255, 255, 255, 0.2);
    }

    &--shadow{
        -webkit-box-shadow: -1px 2px 24px -5px px rgba(0,0,0,0.3);
        -moz-box-shadow: -1px 2px 24px -5px px rgba(0,0,0,0.3);
        box-shadow: -1px 2px 24px -5px  rgba(0,0,0,0.3);
    }

    &--tab-title{
        font-family: rift-soft, sans-serif;
        letter-spacing: 1px;
        position: absolute;
        /* background-position: -100%; */

        @apply
         rounded-lg
        ;

        &--form{
            top: -21px;
            background-color: #d9556d;
        }

    }

    &--form{
        &--add-task{
            background-color: #402c5f;
            transition: all 0.2s;

            &:hover{
                transition: all 0.2s;
                -webkit-box-shadow: 0px 9px 41px -11px #8167b7;
                -moz-box-shadow: 0px 9px 41px -11px #8167b7;
                box-shadow: 0px 9px 41px -11px #8167b7;
            }
        }
    }


}

.maintenance{
    font-family: objektiv-mk1, sans-serif;

    &--save{
        background-color:  #402c5f;
        color: white;

    }
}

.rounded-xl{
    border-radius: 1em;
}

.width-holder{
    width: 550px;
    margin: 0 auto;
}

.grey-grad-bg{

    background: rgb(224,224,224);
    background: linear-gradient(180deg, rgb(240, 240, 240) 0%, rgba(255,255,255,1) 100%);

}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.ani {
    transition: all 5s;
}
